/* Add microphone and mute button to jquery ui */

.ui-state-default .icon-microphone  { 
    background-image:  url(../images/microphone-light.png) !important  }
.ui-state-hover .icon-microphone, 
.ui-state-focus .icon-microphone, 
.ui-state-active .icon-microphone  { 
    background-image:  url(../images/microphone-medium.png) !important  
}

.ui-state-highlight .ui-microphone {
    background-image:  url(../images/microphone-blue.png) !important  
}

.ui-state-error .ui-microphone, 
.ui-state-error-text .ui-microphone {
    background-image:  url(../images/microphone-red.png) !important  
}

.ui-state-default .icon-mute  { background-image:  url(../images/mute-light.png) !important  
}

.ui-state-hover .icon-mute, 
.ui-state-focus .icon-mute, 
.ui-state-active .icon-mute  { 
    background-image:  url(../images/mute-medium.png) !important  
}

.ui-state-highlight .ui-mute {
    background-image:  url(../images/mute-blue.png) !important  
}

.ui-state-error .ui-mute, 
.ui-state-error-text .ui-mute {
    background-image:  url(../images/mute-red.png) !important  
}

/* Overall styles */
html {
    height: 100%; /* So that you can drop anywhere! */
}
body {
    margin: 0 0 0 30px;
    font-family: Trebuchet MS; /*This font might not work everywhere... */
    height:100%; /*So you can drop anywhere! */
    overflow: hidden;
}
h1 {
text-align: center;
}

/*Piano Styling. (Can't change name to piano because colors is used 
 * somwhere other than the main html file... )*/

#colors {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 4; 
    overflow: hidden;
}

#colors div {
    padding: 1px 0 1px 5px; 
    font-family: arial; 
    font-size: 9px; 
    line-height: 9px; 
    color: #aaa; 
    width: 30px; 
    height: 9px; 
    background: #000;
}

#block {
    border: solid;
    width: 80%;
    margin: 25px auto;

}


/*These are classes because one day I could have more than one player on a page */
.mplayer { 
    position: relative; 
    width: 50%; 
    height: 2.5em; 
    margin: 10px auto 10px auto;

}
.mplayer .buttons-container { position: absolute;
    top: 12px;
    left: 10px;
}

.mplayer .buttons-container button {
    height: 1.2em;
    width: 1.2em;
    display: inline-block;
    position: relative;
    top: -2px;
    left: -2px;
}

.mplayer .currentTime { 
    position: absolute; 
    top: 0.6em; 
    left: 3.2em;
    width: 3em; 
    text-align: center; 
    background: none; border: none; 
}

.mplayer .duration { 
    position: absolute; 
    top: 0.6em; 
    right: 1.6em;
    width: 3em; 
    text-align: center; 
    background: none; 
    border: none; 
}

.mplayer .capsule .ui-slider-handle { 
    border-left-width: 0; 
    height: 1.1em; 
    top: -0.24em;
    width: 2px;
    margin-left: -3px;
}

.mplayer .capsule { 
    top: 16px;
    margin: -2px 4.6em 0 6.2em;
    border-style: solid;  
}

.mplayer .masterVolumeContainer { 
    position: absolute;
    top: 18px;
    right: 0px;
}

.mplayer .volume { 
    height: 0;
    margin-top: 5px;
}

/* styling measure counter and MeasuresToPlay Slider */
#measure_stuff{
    width:80%;
    margin: 0 auto;
    position:relative;
    height:2.2em;
}
#start_stop_text{
    position:absolute;
    left:0;
}
#counter{

    position:absolute;
    left:50%;
    margin-left:-4em;
}
#start_stop_range{
    width: 80%;
    margin: 0 auto;

}
#start_stop_range .ui-slider-handle { 
    border-left-width: 0;
    height: 1.1em;
    top: -0.24em;
    width: 5px;
    margin-left: -3px;
    
}



/* transpose and tempo stylings. Only one so id. */
#global_options{
    border:0px;
    margin:20px auto 20px auto;
    width:600px;
    height:2.2em;
    position: relative;
}
#transpose{
    position: absolute; 
    left: 0;
}
#tempo{
    position: absolute; 
    right: 0;
}

/*channel stuff */
#channels-block{
}

.channels{
    width:49%;
    list-style-type: none;
    padding:0px;
    margin-top:0px;
}

/*So I don't have styles in the main html file */
#channel-block-right{
  display: inline-block;
}

#channel-block-left{
  display: inline-block;
}

.channel{ /*every li has this class */
    position: relative;
    margin: 5px; 
}

.channel-inactive{
    color:gray;
}

.channel-title{
    display: inline-block;
    text-align: center;
    margin-top:0px;
}

.channel .channelNum{
/*    position: absolute;
    left:0; */
    display:inline-block;
    margin: 0 10px 0 0;
}
.channel .soloMute{
/*    position: absolute; top: 0px; left: 1.5em;  */
    display:inline-block;
}

.channel .soloMute .soloMuteLabel {
    height: 1.2em; width: 1.2em; 
    display: inline-block;
    position: relative; top: 0px; left: -2px;

}

.channel .program{
   /* position: absolute; 
    left: 5.7em; */
    display:inline-block;
}

.channel .channelVol{
    margin: -1em 1em 1em 13.5em
}

/*message at the bottom */
#drop_zone_message{
    text-align: right;
    float: right;
    margin-right: 10px;
}
