html {
    height: 100%;
}
body {
	margin: 0 0 0 30px;
	font-family: Trebuchet MS;
    height:100%;
}
#drop_zone_message{
    text-align: right;
}
.mplayer { 
	position: relative; 
	width: 50%; 
	height: 2.5em; 
    margin: 10px auto 10px auto;

}
.mplayer .buttons-container { position: absolute; top: 12px; left: 10px; }

.mplayer .buttons-container button {
	height: 1.2em; width: 1.2em; display: inline-block;
        position: relative; top: -2px; left: -2px;
	
}
.mplayer .currentTime { position: absolute; top: 0.6em; left: 3.2em;
        width: 3em; text-align: center; background: none; border: none; }
.mplayer .duration { position: absolute; top: 0.6em; right: 1.6em;
        width: 3em; text-align: center; background: none; border: none; }

.mplayer .capsule .ui-slider-handle { border-left-width: 0; height: 1.1em; 
        top: -0.24em; width: 2px; margin-left: -3px; }

.mplayer .capsule { top: 16px; margin: -2px 4.6em 0 6.2em; 
        border-style: solid;  }


.mplayer .masterVolumeContainer { position: absolute; top: 18px; right: 0px; }

.mplayer .volume { height: 0; margin-top: 5px; }

#measure_stuff{
    width:80%;
    margin: 0 auto;
    position:relative;
    height:2.2em;
}
#start_stop_text{
    position:absolute;
    left:0;
}
#counter{

    position:absolute;
    left:50%;
    margin-left:-4em;
}
#start_stop_range{
    width: 80%;
    margin: 0 auto;

}
#start_stop_range .ui-slider-handle { border-left-width: 0; height: 1.1em; 
        top: -0.24em; width: 5px; margin-left: -3px; }



#block {
border: solid;
width: 80%;
margin: 25px auto;

}

#colors div {
	-webkit-transition-property: background, color;
	-webkit-transition-duration: .25s;
    padding: 1px 0 1px 5px; 
    font-family: arial; 
    font-size: 9px; 
    line-height: 9px; 
    color: #aaa; 
    width: 30px; 
    height: 9px; 
	background: #000;
	background-image: -webkit-gradient(linear,left top,left bottom,from(rgba(66,66,66,0.75)),to(rgba(0,0,0,1)));
    border-bottom: 1px solid rgba(5,5,5,0.7);
}

#global_options{
    border:0px;
    margin:20px auto 20px auto;
    width:600px;
    height:2.2em;
    position: relative;
}
#transpose{
   position: absolute; 
   left: 0;
}
#tempo{
   position: absolute; 
   right: 0;
}

#channels-block{
height: 265px;
}
.channels{
width:50%;
list-style-type: none;
padding:0px;
margin-top:0px;
}

.channel{
    position: relative;
    margin: 30px 5px 30px 10px;
}

.channel-inactive{
    color:gray;
}
.channel-title{
    text-align: center;
    margin-top:0px;
}

.channel .channelNum{
    position: absolute;
    left:0;
}
.channel .muteSolo{
    position: absolute; top: 0px; left: 1.5em; 
}

.channel .muteSolo .muteSoloLabel {
	height: 1.2em; width: 1.2em; display: inline-block;
        position: relative; top: 0px; left: -2px;
	
}

.channel .program{
    position: absolute;
    left: 5.7em;
}

.channel .trackVol{
    margin: -1em 1em 1em 13.5em
}

div.main {
    position: fixed; 
    top: 0; 
    left: 0; 
    z-index: 4; 
    border-radius: 5px; 
    overflow: hidden;
}
div.thing1 {
    text-align: center; 
    border-radius: 5px; 
    position: absolute; 
    top: -70px; 
    left: -40px; 
    opacity: 0.9;
}
div.thing2{
    margin-bottom: 50px; 
    border: 1px solid #000;
    background: rgba(255,255,255,0.5);
    border-radius: 10px;
    float: left;
    width: 800px;
    padding-bottom: 100px;
    position: relative;
    z-index: 2;
}
#title{
    background: rgba(255,255,0,0.5); 
    position: relative;
    color: #000; 
    z-index: -1;
    padding: 5px 11px 5px;
}
